<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Keep your businesses running smoothly by regularly testing your systems, securing all vulnerabilities, and training your staff to keep your systems safe.</h3>
                </div>
            </div>
            <div class="row text-center">
                {% for service in site.services %}
                <div class="col-md-4">
                    <a href="#serviceModal{{ service.modal-id }}" class="service-link" data-toggle="modal">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa {{ service.thumbnail }} fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">{{ service.title }}</h4>
                        <p class="text-muted">{{ service.subtitle }}</p>
                    </a>
                </div>
            {% endfor %}
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security Audits</h4>
                    <p class="text-muted">Comprehensive assessments to identify and address potential vulnerabilities in your IT infrastructure.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Incident Response</h4>
                    <p class="text-muted">Rapid and effective response to mitigate the impact of security incidents and ensure swift recovery.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book-open fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Managed Security Services</h4>
                    <p class="text-muted">Continuous monitoring and management of your security systems to safeguard your business from evolving threats.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book-open fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security Training</h4>
                    <p class="text-muted">Empowering your employees with the knowledge and skills to identify, prevent, and respond to cyber threats.</p>
                </div>
            </div>
        </div>
    </section>